@page "/producto/editar/{Id:int}"
@inject NavigationManager Navigation
@inject ProductoService ProductoService
@using MiProyecto.Domain.Entities

<h3>Editar Producto</h3>

@if (producto == null)
{
    <p>Cargando...</p>
}
else
{
    <EditForm Model="producto" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="producto.Nombre" />
        </div>

        <div class="mb-3">
            <label>Precio</label>
            <InputNumber class="form-control" @bind-Value="producto.Precio" />
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary"
                @onclick="Volver">Cancelar</button>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Producto? producto;

    protected override async Task OnParametersSetAsync()
    {
        producto = await ProductoService.GetProductoByIdAsync(Id);
    }

    private async Task Guardar()
	{
		if( producto == null ) return;
        
	    var ok = await ProductoService.EditarProductoAsync(producto);

        if (ok)
            Navigation.NavigateTo("/productos");
        else
            Console.WriteLine("Error al actualizar");
	}

    private void Volver()
    {
        Navigation.NavigateTo("/productos");
    }
}