@page "/producto/editar/{Id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
@using MiProyecto.Domain

<h3>Editar Producto</h3>

@if (producto == null)
{
    <p>Cargando...</p>
}
else
{
    <EditForm Model="producto" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="producto.Nombre" />
        </div>

        <div class="mb-3">
            <label>Precio</label>
            <InputNumber class="form-control" @bind-Value="producto.Precio" />
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary"
                @onclick="Volver">Cancelar</button>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Producto? producto;

    protected override async Task OnParametersSetAsync()
    {
        producto = await Http.GetFromJsonAsync<Producto>($"api/producto/{Id}");
    }

    private async Task Guardar()
	{
		if( producto == null ) return;
	    producto.Id_producto = Id;

	    var response = await Http.PutAsJsonAsync($"api/producto/{Id}", producto);

	    Console.WriteLine(response.StatusCode);

	    if (response.IsSuccessStatusCode)
	        Navigation.NavigateTo("/productos");
	}

    private void Volver()
    {
        Navigation.NavigateTo("/productos");
    }
}