@page "/productos"

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Productos</li>
    </ol>
</nav>

<div class="d-flex align-items-center mb-4">
    <h3 class="m-0">Productos</h3>
    <a class="btn btn-primary ms-auto" href="/producto_agregar">Agregar<i class="bi bi-plus-circle fs-4 ml-2"></i></a>
</div>