@page "/producto/editar/{Id:int}"
@inject HttpClient Http
@inject NavigationManager Navigation
@using MiProyecto.Domain
@inject ProductoOfflineService ProductoOffline
@inject NetworkService Network
@using MiProyecto.Web.Models

<h3>Editar Producto</h3>

@if (producto == null)
{
    <p>Cargando...</p>
}
else
{
    <EditForm Model="producto" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label>Nombre</label>
            <InputText class="form-control" @bind-Value="producto.Nombre" />
        </div>

        <div class="mb-3">
            <label>Precio</label>
            <InputNumber class="form-control" @bind-Value="producto.Precio" />
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary"
                @onclick="Volver">Cancelar</button>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Producto? producto;

    protected override async Task OnParametersSetAsync()
    {
        if (await Network.IsOnline())
        {
            producto = await Http.GetFromJsonAsync<Producto>(
                $"api/producto/{Id}");
        }
        else
        {
            var productos = await ProductoOffline.ObtenerTodosAsync();

            var local = productos.FirstOrDefault(p => p.Id_producto == Id);

            if (local != null)
            {
                producto = new Producto
                {
                    Id_producto = local.Id_producto,
                    Nombre = local.Nombre,
                    Precio = local.Precio
                };
            }
        }
    }

    private async Task Guardar()
    {
        if (producto == null)
            return;
        producto.Id_producto = Id;
        if (await Network.IsOnline())
        {
            var response = await Http.PutAsJsonAsync($"api/producto/{Id}", producto);

            if (response.IsSuccessStatusCode)
                Navigation.NavigateTo("/productos");
        }
        else
        {
            var productoLocal = new ProductoLocal
            {
                Id_producto = producto.Id_producto,
                Nombre = producto.Nombre,
                Precio = producto.Precio,
                IsSynced = false,
                IsOffline = true,
                LastModified = DateTime.UtcNow
            };

            await ProductoOffline.ModificarAsync(productoLocal);

            Navigation.NavigateTo("/productos");
        }
    }

    private void Volver()
    {
        Navigation.NavigateTo("/productos");
    }
}