@page "/producto_agregar"
@inject HttpClient Http
@using MiProyecto.Application.Productos
@using MiProyecto.Domain

<h3>Agregar Producto</h3>

@if (mensaje is not null)
{
    <div class="alert @(productoGuardado ? "alert-success" : "alert-danger")">
        @mensaje
    </div>
}

<EditForm Model="producto" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label>Nombre</label>
        <InputText class="form-control" @bind-Value="producto.Nombre" />
    </div>

    <div class="mb-3">
        <label>Precio</label>
        <InputNumber class="form-control" @bind-Value="producto.Precio" />
    </div>

    <button type="submit" class="btn btn-primary">
        Guardar
    </button>
</EditForm>

@code {
    Producto producto = new();
    bool productoGuardado = false;
    string? mensaje;

    private async Task Guardar()
    {
        var response = await Http.PostAsJsonAsync("api/producto", producto);

        if (response.IsSuccessStatusCode)
        {
            mensaje = "Producto guardado correctamente";
            productoGuardado = true;
            producto = new();
            await InvokeAsync(StateHasChanged);
            await Task.Delay(2000);
            mensaje = null;
            await InvokeAsync(StateHasChanged);
        }
        else
        {
            mensaje = "Error al guardar el producto";
            productoGuardado = false;
        }
    }
}