@page "/users"

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
        <li class="breadcrumb-item active">Usuarios</li>
    </ol>
</nav>

<div class="d-flex align-items-center mb-4">
    <h3 class="m-0">Usuarios</h3>
    <a class="btn btn-primary ms-auto" href="/usuario_agregar">Agregar</a>
</div>

@code {

}
